<div ng-controller="FALMHousekeepingMediaCleanupController">
    <umb-panel>
        <umb-header>
            <div class="umb-headline-editor-wrapper span12 ng-scope">
                <h1>F.A.L.M. Housekeeping</h1>
            </div>
        </umb-header>
        <umb-content>
            <div class="umb-pane" style="margin-top: 120px;">
                <div ng-switch="id">
                    <h2>
                        <localize key="FALM_MediaManager.Title">Media Manager</localize> - <localize key="FALM_MediaManager.SubTitle">Cleanup File System</localize>
                    </h2>

                    <div class="description">
                        <localize key="FALM_MediaManager.Description">With this tool you can delete file system folders under '/media' which have no entry in the DB (orphans).</localize>
                    </div>

                    
                </div>
            </div>
        </umb-content>
        <umb-footer>
            <div class="umb-dialog-footer">
                <p style="margin: 20px;"><localize key="FALM_MediaManager.FooterMessage"></localize></p>
            </div>
        </umb-footer>
    </umb-panel>
</div>