<umb-panel class="falmhk dblogs" ng-controller="FALMHousekeepingLogsDBManagerController as vm">
    <umb-header id="falm-header">
        <div class="umb-panel-header-content-wrapper">
            <div class="umb-panel-header-content">
                <div class="umb-panel-header-left-side -top-position" ng-class="{'-top-position': tabs || !icon }">
                    <div class="umb-panel-header-title-wrapper">
                        <div class="umb-panel-header-name ng-scope ng-binding">F.A.L.M. Housekeeping</div>
                    </div>
                </div>
            </div>
        </div>
    </umb-header>
    <umb-content id="falm-content">
        <div class="umb-panel-body with-header umb-scrollable no-footer" style="padding: 0 20px; margin-top: 19px;">
            <h3 class="title"><localize key="FALM_LogsManager.Title_DB">Umbraco Logs Manager (DB)</localize></h3>
            <div class="description">
                <localize key="FALM_LogsManager.Description_DB">With this tool you can manage Umbraco DB log events.</localize>
            </div>
            <div ng-switch="vm.id">
                <!-- SEARCH PANEL -->
                <div ng-show="vm.showSearchPanel" class="showSearchPanel">
                    <!-- LIST DB LOGS -->
                    <div ng-show="vm.dblogs.logsItems.length" class="panel panel-default">
                        <div class="panel-heading">
                            <localize key="FALM_LogsManager.DBLogsPanelTitle">DB Log</localize> <localize key="FALM_LogsManager.Contains">contains</localize> <span class="badge">{{ vm.dblogs.itemCount }}</span> <localize key="FALM_LogsManager.Events">events</localize>
                        </div>
                        <div class="panel-body">
                            <!-- Filters -->
                            <form id="filterLogsForm" ng-submit="vm.filterDBLogs()" role="form" class="form-inline">
                                <div>
                                    <label for="search" class="sr-only"><localize key="FALM_LogsManager.SearchLabel">Search:</localize></label>
                                    <div class="input-group" style="float: left; margin-right: 10px;">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </div>
                                        <input type="text" ng-model="vm.q" id="search" class="form-control" style="-webkit-border-top-right-radius: 4px !important; -webkit-border-bottom-right-radius: 4px !important; -moz-border-radius-topright: 4px !important; -moz-border-radius-bottomright: 4px !important; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important; width: 300px; height: 32px !important;"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="itemsPerPage" style="vertical-align: bottom;"><localize key="FALM_LogsManager.ItemsPerPage">Items per page:</localize></label>
                                        <select ng-model="vm.dblogs.itemsPerPage" id="itemsPerPage" class="form-control" style="-webkit-border-top-right-radius: 4px !important; -webkit-border-bottom-right-radius: 4px !important; -moz-border-radius-topright: 4px !important; -moz-border-radius-bottomright: 4px !important; border-radius: 4px !important; height: 32px !important;">
                                            <option value="10">10</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="300">300</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="btnFilterLogs" name="btnFilterLogs" class="btn btn-danger">
                                            <localize key="FALM_LogsManager.StartFilterLogs">Filter Logs</localize>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div id="FHLogTable" class="umb-table" style="margin-bottom: 15px;">
                                <div class="umb-table-head">
                                    <div class="umb-table-row">
                                        <div class="umb-table-cell not-fixed flx-b1"><localize key="FALM_LogsManager.Date">Date</localize></div>
                                        <div class="umb-table-cell not-fixed flx-b1"><localize key="FALM_LogsManager.Type">Type</localize></div>
                                        <div class="umb-table-cell not-fixed flx-b1"><localize key="FALM_LogsManager.Username">Username</localize></div>
                                        <div class="umb-table-cell not-fixed flx-b1"><localize key="FALM_LogsManager.NodeId">Node Id</localize></div>
                                        <div class="umb-table-cell not-fixed flx-b3"><localize key="FALM_LogsManager.NodeName">Node Name</localize></div>
                                        <div class="umb-table-cell not-fixed flx-b3"><localize key="FALM_LogsManager.Description">Description</localize></div>
                                    </div>
                                </div>
                                <div class="umb-table-body">
                                    <div class="umb-table-row" ng-click="vm.openDetailsModal(logItem, vm.dblogs.logsItems)" ng-repeat="logItem in vm.dblogs.logsItems" current-page="vm.dblogs.pagination.pageNumber">
                                        <div class="umb-table-cell not-fixed flx-b1">{{ logItem.Date | date: 'dd/MM/yyyy' }}<br />{{ logItem.Date | date: 'HH:mm:ss' }}</div>
                                        <div class="umb-table-cell not-fixed flx-b1"><span ng-class="vm.getLabelType(logItem.Header)">{{ logItem.Header }}</span></div>
                                        <div class="umb-table-cell not-fixed flx-b1">{{ logItem.UserName }}</div>
                                        <div class="umb-table-cell not-fixed flx-b1">{{ logItem.NodeId }}</div>
                                        <div class="umb-table-cell not-fixed flx-b3">{{ logItem.NodeName | limitTo:40 }}<span ng-if="logItem.NodeName.length > 40">...</span></div>
                                        <div class="umb-table-cell not-fixed flx-b3">{{ logItem.Comment | limitTo:40 }}<span ng-if="logItem.Comment.length > 40">...</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center">
                                <umb-pagination ng-if="vm.dblogs.pagination.totalPages > 1 && !vm.showLoader"
                                                page-number="vm.dblogs.pagination.pageNumber"
                                                total-pages="vm.dblogs.pagination.totalPages"
                                                on-next="vm.nextPage"
                                                on-prev="vm.prevPage"
                                                on-go-to-page="vm.goToPage">
                                </umb-pagination>
                            </div>
                            <div class="flex justify-center items-center">
                                <form id="logsCleanupMediaOlder6MonthsForm" ng-submit="vm.deleteDBLogsBeforeMonths()" role="form" style="display: inline-block; margin: 0 10px 0 0;">
                                    <button type="submit" id="btnCleanupMediaOlder6Months" name="btnCleanupMediaOlder6Months" class="btn btn-danger">
                                        <localize key="FALM_LogsManager.StartCleanupOlder6MonthsButton">Cleanup Logs older than 6 months</localize>
                                    </button>
                                </form>
                                <form id="logsCleanupMediaByDateForm" ng-submit="vm.deleteFilteredDBLogs(vm.dblogs.logsItems)" role="form" style="display: inline-block; margin: 0 10px 0 0;">
                                    <button type="submit" id="btnCleanupMediaByDate" name="btnCleanupMediaByDate" class="btn btn-danger">
                                        <localize key="FALM_LogsManager.StartCleanupButton">Delete Logs</localize>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- NO LOGS FOUND -->                        
                    <div ng-show="!vm.dblogs.logsItems.length" class="noLogsFound">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <localize key="FALM_LogsManager.DBLogsPanelTitle">DB Log events</localize>
                            </div>
                            <div class="panel-body">
                                <p><localize key="FALM_LogsManager.NoLogsFound">No Logs found.</localize></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- RESTART SEARCH -->
                <div ng-show="!vm.showLoader" class="restartSearch">
                    <a ng-click="vm.reloadRoute()" class="btn btn-default">
                        <localize key="FALM_LogsManager.RestartSearchLogs">Restart logs search</localize>
                    </a>
                </div>

                <!-- LOADER -->
                <div ng-show="vm.showLoader" class="loading" style="margin-top: 30px; margin-bottom: 30px;">
                    <localize key="FALM_LogsManager.SearchInProgress">Search in progress. Please wait until you see results</localize>
                </div>
                <umb-load-indicator ng-if="vm.showLoader"></umb-load-indicator>
            </div>
        </div>
    </umb-content>
    <umb-footer id="falm-footer" />
</umb-panel>