<umb-panel ng-controller="FALMHousekeepingLogsDBManagerDetailsController">
    <div class="umb-panel-header" id="falm-header">
        <h3 class="title"><localize key="FALM_LogsManager.DBLogsDialog-Title">Event details</localize> (<span>Id: {{ dialogData.logItem.Id }}</span>)</h3>
    </div>
    <div class="umb-panel-body with-header with-footer" id="falm-content">
        <table id="FHLogDetailTable" class="table">
            <tbody style="font-size: 12px;">
                <tr>
                    <th style="padding: 15px; border-top: 0; width: 120px;"><localize key="FALM_LogsManager.DBLogsDialog-Event">Event</localize></th>
                    <td style="padding: 15px; border-top: 0;"><span class="label label-{{ logTypeLabel }}">{{ dialogData.logItem.Header }}</span></td>
                </tr>
                <tr>
                    <th style="padding: 15px; border-top: 0; width: 120px;"><localize key="FALM_LogsManager.DBLogsDialog-Event-LogDate">Date</localize></th>
                    <td style="padding: 15px; border-top: 0;">{{ dialogData.logItem.Date | date: 'dd MMMM yyyy' }}</td>
                </tr>
                <tr>
                    <th style="padding: 15px; border-top: 0; width: 120px;"><localize key="FALM_LogsManager.DBLogsDialog-Event-LogTime">Time</localize></th>
                    <td style="padding: 15px; border-top: 0;">{{ dialogData.logItem.Date | date: 'HH:mm:ss' }}</td>
                </tr>
                <tr>
                    <th style="padding: 15px; border-top: 0; width: 120px;"><localize key="FALM_LogsManager.DBLogsDialog-Event-UserName">User</localize></th>
                    <td style="padding: 15px; border-top: 0;">{{ dialogData.logItem.UserName }}</td>
                </tr>
                <tr>
                    <th style="padding: 15px; border-top: 0; width: 120px;"><localize key="FALM_LogsManager.DBLogsDialog-Event-NodeId">Node ID</localize></th>
                    <td style="padding: 15px; border-top: 0;">{{ dialogData.logItem.NodeId }}</td>
                </tr>
                <tr>
                    <th style="padding: 15px; border-top: 0; width: 120px;"><localize key="FALM_LogsManager.DBLogsDialog-Event-NodeName">Node name</localize></th>
                    <td style="padding: 15px; border-top: 0;">{{ dialogData.logItem.NodeName }}</td>
                </tr>
            </tbody>
        </table>
        <div style="padding: 15px; word-wrap: break-word;">
            <p><strong><localize key="FALM_LogsManager.DBLogsDialog-Event-LogComment">Description:</localize></strong></p>
            <p>{{ dialogData.logItem.Comment }}</p>
        </div>
    </div>
    <div class="umb-panel-footer" id="falm-footer">
        <a href="" ng-click="close()" class="btn pull-right">
            <localize key="general_close">Close</localize>
        </a>
    </div>
</umb-panel>