<umb-panel ng-controller="FALMHousekeepingVersionsManagerCleanupByCountController">
    <div class="umb-panel-header" id="falm-header">
        <h3 class="title"><localize key="FALM_VersionsManager.CleanupByCount.Dialog-Title">Cleanup By Count</localize></h3>
    </div>
    <div class="umb-panel-body with-header with-footer" id="falm-content">
        <!-- CLEANUP FORM -->
        <div ng-show="dialogData.showCleanupForm" class="loading">
            <p><localize key="FALM_VersionsManager.CleanupByCount.Dialog-Description">With this tool you can cleanup the version history, keeping a given number of versions for each content node.<br />Please note that Umbraco requires each node to have at least 2 versions (the currently published and the newest). These versions will never be deleted.</localize></p>
            
            <form id="versionsCleanupByCount" ng-submit="deleteVersionsByCount(dialogData.versionsToKeep)" class="form-inline" style="margin: 0 10px 0 0;">
                <div class="form-group">
                    <label for="versionsToKeep"><localize key="FALM_VersionsManager.CleanupByCount.Dialog-VersionsCount">Number of versions to keep</localize></label><br />
                    <input type="number" min="0" pattern="[0-9]*" ng-model="dialogData.versionsToKeep" id="versionsToKeep" class="form-control" style="width: 100px;" />
                </div><br /><br />
                <button type="submit" id="btnCleanupVersionsByCount" name="btnCleanupVersionsByCount" class="btn btn-danger">
                    <localize key="FALM_VersionsManager.CleanupByCount.Dialog-StartCleanupButton">Cleanup Versions</localize>
                </button>
            </form>
        </div>

        <!-- CLEANUP SUMMARY - SUCCESS -->
        <div ng-show="dialogData.showCleanupSummarySuccess" class="cleanupSummarySuccess">
            <h5><localize key="FALM_VersionsManager.Cleanup.Dialog-Summary">Cleanup Summary</localize></h5>
            <div class="alert alert-success" role="alert" style="padding-top: 20px;">
                <h6 style="font-size: 14px; margin-bottom: 20px;"><strong><localize key="FALM_VersionsManager.Cleanup.Dialog-CleanupSuccess">Versions deleted successfully!</localize></strong></h6>
                <p ng-repeat="item in dialogData.cleanupSummary" style="font-size: 12px;">
                    <span class="badge">{{ item.Result }}</span> <localize key="FALM_VersionsManager.Cleanup.Dialog-CleanupSuccessResultDeletedRows">rows deleted</localize> <localize key="FALM_VersionsManager.Cleanup.Dialog-CleanupSuccessResultTable">in table</localize>: <strong>{{ item.Type }}</strong>
                </p>
            </div>
        </div>

        <!-- CLEANUP SUMMARY - ERROR -->
        <div ng-show="dialogData.showCleanupSummaryError" class="cleanupSummaryError">
            <h5><localize key="FALM_VersionsManager.Cleanup.Dialog-Summary">Cleanup Summary</localize></h5>
            <div class="alert alert-danger" role="alert" style="padding-top: 20px;">
                <h6 style="font-size: 14px;"><localize key="FALM_VersionsManager.Cleanup.Dialog-CleanupError">An Error occurred during cleanup</localize></h6>
            </div>
        </div>

        <!-- LOADER -->
        <div ng-show="dialogData.showLoader" class="loading">
            <localize key="FALM_VersionsManager.Cleanup.Dialog-CleanupInProgress">Cleanup in progress. Please wait until you see results</localize>
        </div>
        <umb-load-indicator ng-if="dialogData.showLoader"></umb-load-indicator>
    </div>

    <div class="umb-panel-footer" id="falm-footer">
        <a href="" ng-click="closeDialog()" class="btn pull-right">
            <localize key="general_close">Close</localize>
        </a>
    </div>
</umb-panel>