<div ng-controller="FALMHousekeepingVersionsController">
    <umb-panel>
        <umb-header id="falm-header">
            <div class="umb-panel-header-content-wrapper">
                <div class="umb-panel-header-content">
                    <div class="umb-panel-header-left-side -top-position" ng-class="{'-top-position': tabs || !icon }">
                        <div class="umb-panel-header-title-wrapper">
                            <div class="umb-panel-header-name ng-scope ng-binding">F.A.L.M. Housekeeping</div>
                        </div>
                    </div>
                </div>
            </div>
        </umb-header>
        <umb-content id="falm-content">
            <div class="umb-panel-body with-header umb-scrollable no-footer" style="padding: 0 20px; margin-top: 19px;">
                <h3 class="title"><localize key="FALM_VersionsManager.Title">Umbraco Versions Manager</localize></h3>
                <div class="description">
                    <localize key="FALM_VersionsManager.Description">With this tool you can manage the Umbraco history versions.</localize>
                </div>
                <div ng-switch="id">
                    <!-- SEARCH PANEL -->
                    <div class="searchPanel">
                        <!-- LOADER INFO -->
                        <div ng-hide="!showLoader" class="loading" style="margin-top: 30px; margin-bottom: 30px;">
                            <localize key="FALM_VersionsManager.SearchInProgress">Search in progress. Please wait until you see results</localize>
                        </div>

                        <!-- PANEL: SHOW VERSIONS -->
                        <div ng-show="versions.ListCurrentPublishedVersions.length" class="showVersions">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="bold"><localize key="FALM_VersionsManager.VersionsPanelTitle">History Versions</localize></span>
                                </div>
                                <div class="panel-body">
                                    <!-- Filters -->
                                    <form class="form">
                                        <table id="FHVersionFiltersTable" class="table" style="border: 1px solid #d8d7d9 !important;">
                                            <thead>
                                                <tr>
                                                    <th class="text-left"><label for="search.NodeId"><localize key="FALM_VersionsManager.FilterByNodeId">Filter by<br />Node Id</localize></label></th>
                                                    <th class="text-left"><label for="search.NodeName"><localize key="FALM_VersionsManager.FilterByNodeName">Filter by<br />Node Name</localize></label></th>
                                                    <th class="text-right"><label for="itemsPerPage"><localize key="FALM_VersionsManager.ItemsPerPage">Items per page:</localize></label></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="form-group" style="border: none; width: 100px;">
                                                        <input type="text" ng-model="search.NodeId" id="search.NodeId" class="form-control" style="width: 100px;" />
                                                    </td>
                                                    <td class="form-group" style="border: none; width: 300px;">
                                                        <input type="text" ng-model="search.NodeName" id="search.NodeName" class="form-control" style="width: 300px;" />
                                                    </td>
                                                    <td class="form-group text-right" style="border: none;">
                                                        <select ng-model="pageSize" id="itemsPerPage" style="width: 100px;">
                                                            <option value="10">10</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <!-- List Versions -->
                                    <table id="FHVersionsTable" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">
                                                    <localize key="FALM_VersionsManager.NodeId">Node Id</localize>
                                                </th>
                                                <th class="text-center" style="vertical-align: middle;">
                                                    <localize key="FALM_VersionsManager.NodeName">Node Name</localize>
                                                </th>
                                                <th class="text-center" style="vertical-align: middle;">
                                                    <localize key="FALM_VersionsManager.CurrentPublishedVersionDate">Published Version</localize>
                                                </th>
                                                <th class="text-center" style="vertical-align: middle;">
                                                    <localize key="FALM_VersionsManager.TotalVersions">Other versions</localize>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-click="openDetailsModal(versionItem)" dir-paginate="versionItem in filteredVersions = (versions.ListCurrentPublishedVersions | filter:search) | itemsPerPage:pageSize" pagination-id="Versions" current-page="currentPage">
                                                <td class="text-center" style="width: 8%;">{{ versionItem.NodeId }}</td>
                                                <td>{{ versionItem.NodeName }}</td>
                                                <td class="text-center" style="width: 20%;">{{ versionItem.PublishedDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                                                <td class="text-center" style="width: 8%;">{{ versionItem.VersionsCount }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7">
                                                    <dir-pagination-controls boundary-links="true" template-url="/App_Plugins/FALM/backoffice/housekeeping/template/dirPagination.tpl.html" pagination-id="Versions"></dir-pagination-controls>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <form id="versionsCleanupForm" ng-submit="deleteVersionsByCount(0)" role="form" style="float: left; margin: 0 10px 0 0;">
                                        <button type="submit" id="btnCleanupMedia" name="btnCleanupMedia" class="btn btn-danger">
                                            <localize key="FALM_VersionsManager.StartCleanupButton">Cleanup all Versions</localize>
                                        </button>
                                    </form>
                                    <a ng-click="openCleanupByCountModal()" class="btn btn-warning" style="margin: 0 6px 0 0;">
                                        <localize key="FALM_VersionsManager.StartCleanupByCount">Cleanup versions by count</localize>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <!-- PANEL: NO VERSIONS FOUND -->
                        <div ng-hide="versions.ListCurrentPublishedVersions.length" class="noVersionsFound">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <span class="bold"><localize key="FALM_VersionsManager.VersionsPanelTitle">History Versions</localize></span>
                                    </div>
                                <div class="panel-body">
                                    <p><localize key="FALM_VersionsManager.NoVersionsFound">No versions found</localize></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RESTART SEARCH -->
                    <div ng-show="!showLoader" class="restartSearch">
                        <a ng-click="reloadRoute()" class="btn btn-default">
                            <localize key="FALM_VersionsManager.RestartSearchVersions">Restart versions search</localize>
                        </a>
                    </div>

                    <!-- LOADER ANIMATION -->
                    <umb-load-indicator ng-if="showLoader"></umb-load-indicator>
                </div>
            </div>
        </umb-content>
        <umb-footer id="falm-footer" />
    </umb-panel>
</div>