<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            La sezione <authentication> consente di configurare 
      la modalità di autenticazione della sicurezza utilizzata da 
      ASP.NET per identificare un utente in ingresso. 
        -->
    <authentication mode="Windows"/>
    <!--
            La sezione <customErrors> consente di configurare 
       l'operazione da eseguire in caso di errore non gestito 
       durante l'esecuzione di una richiesta. In particolare, 
       consente agli sviluppatori di configurare le pagine di errore HTML 
       in modo che vengano visualizzate al posto della traccia dello stack dell'errore.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sezione system.webServer è obbligatoria per eseguire ASP.NET AJAX in Internet
        Information Services 7.0. Non è necessaria per le versioni precedenti di IIS.
    -->
</configuration>